/* Головний колір сайту #F5F5F5; */
/* Додатковий колір сайту  #2F303A */
/* Колір кнопки #2196F3 */
:root{
    --second-font:'Roboto', sans-serif;
    --accent-color:#FFFFFF;
    --link-hover-color:#2196F3;
}
body {
    background-color:var(--accent-color) ;
    font-family: 'Roboto', sans-serif;
}
ul {
    list-style: none;
}
a{
    text-decoration: none;
}
/* Header */
header{
    background: var(--accent-color);
}
.logo-web{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 /26);
    letter-spacing: 0.03em;
    color: var(--link-hover-color);
}
.logo-studio{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 /26);
    letter-spacing: 0.03em;
    color: black;
}
.link-studio,
.link-portfolio,
.link-contact {
    font-family: var(--second-font);
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 /14);
    letter-spacing: 0.02em;
    color: #212121;
}
.link-studio:hover,
.link-portfolio:hover,
.link-contact:hover,
.link-studio:focus,
.link-portfolio:focus,
.link-contact:focus{
    color: var(--link-hover-color);
}
.nav-tel,
.nav-amail{
    font-family: var(--second-font);
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.02em;

color: #757575;
}
.nav-tel:hover,
.nav-amail:hover,
.nav-tel:focus,
.nav-amail:focus{
    color: var(--link-hover-color);
}
/* main,button*/
.section-hero{
    background: #2F303A;
}
.hero-title{
    font-family: var(--second-font);
    font-size: 44px;
    line-height: calc(60 /44);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--accent-color);
}
.title-button{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-size: 16px;
    line-height: calc(40 /16);
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--accent-color);
    cursor: pointer;
    background: var(--link-hover-color);
    font-family: var(--second-font);
    
}
.link-button{
    color: var(--accent-color);
}
.title-button:focus,.title-button:hover{
    background-color:#1280da ;
}
/* Section*/
.section-description{
    background: var(--accent-color);
}
.section-content{
    font-family: var(--second-font);
    font-size: 14px;
    line-height: calc(16 /14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}
.content-p{
    font-family: var(--second-font);
    font-size: 14px;
    line-height: calc(24 /14);
    letter-spacing: 0.03em;
    color: #757575;
}
.how-work{
    font-family: var(--second-font);
    font-size: 36px;
    line-height: calc(42 /36);
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}
.section-team{
    background: #F5F4FA;
}
.team{
    font-family: var(--second-font);
    font-size: 36px;
    line-height: calc(42/36);
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}
.name{
    font-family:var(--second-font);
    font-size: 16px;
    line-height: calc(19 /16);
    letter-spacing: 0.03em;
    color: #212121; 
}
.name-p{
    font-family: var(--second-font);
    font-size: 16px;
    line-height: calc(19 /16);
    letter-spacing: 0.03em;
 
color: #757575;
}
/* Footer*/
.footer-logo{
    background: #2F303A;
}
.footer-web{
    font-family: 'Raleway';
    font-size: 26px;
    line-height: calc(31 /26);
    letter-spacing: 0.03em;
    color: var(--link-hover-color);
}
.footer-studio{
    font-family: 'Raleway';
    font-size: 26px;
    line-height: calc(31 /26);
    letter-spacing: 0.03em;
    color: var(--accent-color);
}
.address-p{
    font-style: normal;
    font-size: 14px;
    line-height: calc(21 /14);
    letter-spacing: 0.03em;
    color: var(--accent-color);
}
.address-email,.address-tel{
    font-style: normal;
    font-size: 14px;
    line-height: calc(21 /14);
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.address-email:hover,
.address-tel:hover,
.address-email:focus,
.address-tel:focus{
    color: var(--link-hover-color);
}