/* Головний колір сайту #F5F5F5; */
/* Додатковий колір сайту  #2F303A */
/* Колір кнопки #2196F3 */
body {
    background-color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
}
ul {
    list-style: none;
}

/*Логотип сайту */
header{
    background: #FFFFFF;;
}
.logo-web{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #2196F3;
}
.logo-studio{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: black;
}
.logo-studio:hover,.logo-studio:focus{
    color: #2196F3;
}
.link-studio,
.link-portfolio,
.link-contact {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
}
.link-studio:hover,
.link-portfolio:hover,
.link-contact:hover,
.link-studio:focus,
.link-portfolio:focus,
.link-contact:focus{
    color: #2196F3;
}
.nav-tel,
.nav-amail{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

color: #757575;
}
.nav-tel:hover,
.nav-amail:hover,
.nav-tel:focus,
.nav-amail:focus{
    color: #2196F3;
}
/* Заголовок,Кнопка*/
.section-hero{
    background: #2F303A;
}
.hero-title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
/* or 136% */
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.title-button{
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    
    color: #FFFFFF;
    
}
.link-button{
    color: #FFFFFF;
}
.title-button:focus,.title-button:hover{
    background-color: #3c87c5;
}
/* Фото, Секція*/
.section{
    background: #F5F5F5;
}
.section-content{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}
.content-p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
}
.how-work{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}
.section-team{
    background: #F5F4FA;
}
.team{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}
.name{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: #212121; 
}
.name-p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
 
color: #757575;
}
/* кінцева шапка сайту */
.footer-logo{
    background: #2F303A;
}
.footer-web{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #2196F3;
}
.footer-studio{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.footer-studio:hover,
.footer-web:hover,
.footer-studio:focus,
.footer-web:focus{
    color: #2196F3;
}
.address-p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.address-email,.address-tel{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.address-email:hover,
.address-tel:hover,
.address-email:focus,
.address-tel:focus{
    color: #2196F3;
}